<<<<<<< HEAD
.menu {
    background-color: #2e3138;
    height: 100px;
=======
.menu {
    background-color: #2e3138;
    height: 100px;
    padding: 0px;
    margin: 0px;
}
.brain {
    margin-top: 8px;
>>>>>>> 39ebead1e6638b6544120f6db85b05badbc3b21a
}