body {
    background-color: burlywood;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

ul {
    background-color: #2e3138;
    height: 90px;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

li {
    display: inline;
    padding-right: 30px;
}
a:hover {
    text-decoration: none;
    font-weight: bold;
}
li a:hover {
    color: greenyellow;
}

.menu_valg {
    color: white;
    text-decoration: none;
    color: whitesmoke;
}

